/venv
/.idea
csv_test.py
extra.py
files_lecture.py
referat.txt
referat_modified.txt
test_text.txt
suits.csv
suits_export
class_methods_lecture.py
class_constructors_repr.py
class_encapsulation.py
class_inheritance.py
class_polymorphism.py
